In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/MaxWarriner/Data-Mining/refs/heads/main/pokedex_(Update.04.20).csv")

In [23]:
print(df.dtypes)

Unnamed: 0            int64
pokedex_number        int64
name                 object
german_name          object
japanese_name        object
generation            int64
is_sub_legendary      int64
is_legendary          int64
is_mythical           int64
species              object
type_number           int64
type_1               object
type_2               object
height_m            float64
weight_kg           float64
abilities_number      int64
ability_1            object
ability_2            object
ability_hidden       object
total_points        float64
hp                  float64
attack              float64
defense             float64
sp_attack           float64
sp_defense          float64
speed               float64
catch_rate          float64
base_friendship     float64
base_experience     float64
growth_rate          object
egg_type_number       int64
egg_type_1           object
egg_type_2           object
percentage_male     float64
egg_cycles          float64
against_normal      float64
against_fire        float64
against_water       float64
against_electric    float64
against_grass       float64
against_ice         float64
against_fight       float64
against_poison      float64
against_ground      float64
against_flying      float64
against_psychic     float64
against_bug         float64
against_rock        float64
against_ghost       float64
against_dragon      float64
against_dark        float64
against_steel       float64
against_fairy       float64
height_ft           float64
dtype: object

In [17]:
print(df['height_m'].max())

100.0

In [18]:
print(df['weight_kg'].max())

999.9

In [19]:
print(df['height_m'].min())

0.1

In [20]:
print(df['weight_kg'].min())

0.1

In [21]:
#Convert meters to feet
df['height_ft'] = df['height_m']*3.28084

In [22]:
print(df['height_ft'].max())

328.084

In [30]:
#Drop pokemon with NA for japanese name
dropped = df.dropna(subset = 'japanese_name')
print(df.shape)
print(dropped.shape)

(1028, 54)
(938, 54)

In [32]:
df['total_points'].describe()

count    1027.000000
mean      437.603700
std       121.719934
min       175.000000
25%       330.000000
50%       455.000000
75%       510.000000
max      1125.000000
Name: total_points, dtype: float64

In [40]:
df.groupby('type_1')['total_points'].mean().sort_values(ascending=False)

type_1
Dragon      535.275000
Psychic     485.315789
Steel       481.472222
Fire        455.015385
Electric    449.327869
Rock        448.683333
Ghost       440.756098
Flying      440.000000
Fairy       439.272727
Fighting    439.052632
Poison      432.717949
Water       431.738806
Ground      431.146341
Dark        428.000000
Ice         426.722222
Grass       418.241758
Normal      404.869565
Bug         384.617284
Name: total_points, dtype: float64

Dragon type pokemon stand out as having more total stat points than most other types on average. Unsurprisingly, bug types have the lowest on average.

In [41]:
df.groupby('type_1')['is_legendary'].mean().sort_values(ascending=False)

type_1
Dragon      0.250000
Psychic     0.157895
Fairy       0.136364
Fighting    0.052632
Poison      0.051282
Ground      0.048780
Ghost       0.048780
Steel       0.027778
Dark        0.023256
Water       0.022388
Fire        0.015385
Bug         0.000000
Electric    0.000000
Flying      0.000000
Grass       0.000000
Ice         0.000000
Normal      0.000000
Rock        0.000000
Name: is_legendary, dtype: float64

Dragon, psychic, and fairy have the highest percentage of legendary pokemon by far compared to the other types. This is only counting the type 1 however.

In [42]:
df.groupby('type_2')['is_legendary'].mean().sort_values(ascending=False)

type_2
Dragon      0.218750
Ice         0.157895
Fire        0.117647
Steel       0.114286
Electric    0.090909
Ghost       0.080000
Ground      0.076923
Flying      0.046296
Fighting    0.031250
Bug         0.000000
Dark        0.000000
Fairy       0.000000
Grass       0.000000
Normal      0.000000
Poison      0.000000
Psychic     0.000000
Rock        0.000000
Water       0.000000
Name: is_legendary, dtype: float64

Other types such as ice, fire, and steel now have legendaries accounted for because they are more primarily in type 2.

In [43]:
df.groupby('type_1')['speed'].mean().sort_values(ascending=False)

type_1
Flying      87.000000
Electric    84.901639
Dragon      84.450000
Psychic     80.592105
Dark        75.395349
Fire        74.369231
Normal      69.678261
Fighting    69.210526
Poison      67.769231
Ice         67.138889
Water       66.335821
Bug         63.259259
Ground      61.804878
Ghost       61.414634
Grass       59.769231
Fairy       59.545455
Rock        57.666667
Steel       53.638889
Name: speed, dtype: float64

Flying, electric, and dragon types typically lead in speed.

In [44]:
df.groupby('generation')['total_points'].mean().sort_values(ascending=False)

generation
7    459.232323
4    459.016529
6    442.552941
8    438.329545
3    436.006061
5    435.157895
1    424.104167
2    419.273585
Name: total_points, dtype: float64

In general, more recent generations have had pokemon with higher total points on average.